<head>
  <title>שבלול</title>
  <link rel="shortcut icon" sizes="16x16" href="/img/fivicon.png">
  <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-rtl.min.css">
  <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css">
  <script src="/libs/jquery/jquery.min.js"></script>
  <script src="/libs/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
  <div id="app">

  </div>
</body>
